.currencies {
  display: flex;
  margin-bottom: 30px;
}

.currency {
  cursor: pointer;
}

.currency > .ticker {
  font-size: 1.75em;
}

.currency > .price {
  font-size: 2.5em;
}

.currency:not(:first-child) {
  margin-left: 15px;
}
