body {
  background-color: #f4f7fa;
  color: rgba(0, 0, 0, 0.75);
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}

.content-box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  padding: 15px;
}

.content-box.active {
  background-color: #00a7f6;
  border: 1px solid #1193f5;
  color: #fff;
}

.chart-container .title {
  font-size: 1.5em;
}

.statbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.statbar .time-btn {
  padding: 4px;
  cursor: pointer;
}

.statbar .time-btn.active {
  border-bottom: 2px solid #1193f5;
}
